{% extends "layout.html" %}

{% block head %}

<title> Alvaro Pereira</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>
    
    <section class="cards">

        <div class="card" id="H4CCPaYLTWg">
            <div class="card_imag-container">
                <img src="https://img.youtube.com/vi/H4CCPaYLTWg/hqdefault.jpg"Video Teste">
            </div>
            <div class="card_content">
                <p>Formulario Animado com JS puro e CSS Alvaroico</p>
            </div>
            <div class="card_infor">
                <p>57 minutos</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="GGyp_XPhEGo">
            <div class="card_imag-container">
                <img src="https://img.youtube.com/vi/GGyp_XPhEGo/hqdefault.jpg"Video Teste">
            </div>
            <div class="card_content">
                <p>Formulario Animado com JS puro e CSS Alvaroico</p>
            </div>
            <div class="card_infor">
                <p>57 minutos</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="3yJuOq9Bj-k">
            <div class="card_imag-container">
                <img src="https://img.youtube.com/vi/3yJuOq9Bj-k/hqdefault.jpg"Video Teste">
            </div>
            <div class="card_content">
                <p>Formulario Animado com JS puro e CSS Alvaroico</p>
            </div>
            <div class="card_infor">
                <p>57 minutos</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="A6LP_czEK7U">
            <div class="card_imag-container">
                <img src="https://img.youtube.com/vi/A6LP_czEK7U/hqdefault.jpg"Video Teste">
            </div>
            <div class="card_content">
                <p>Formulario Animado com JS puro e CSS Alvaroico</p>
            </div>
            <div class="card_infor">
                <p>57 minutos</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="Dh5TFPuJXKw">
            <div class="card_imag-container">
                <img src="https://img.youtube.com/vi/Dh5TFPuJXKw/hqdefault.jpg"Video Teste">
            </div>
            <div class="card_content">
                <p>Formulario Animado com JS puro e CSS Alvaroico</p>
            </div>
            <div class="card_infor">
                <p>57 minutos</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="iUzxPkr1cWA">
            <div class="card_imag-container">
                <img src="https://img.youtube.com/vi/iUzxPkr1cWA/hqdefault.jpg"Video Teste">
            </div>
            <div class="card_content">
                <p>Formulario Animado com JS puro e CSS Alvaroico</p>
            </div>
            <div class="card_infor">
                <p>57 minutos</p>
                <p class="card_price">Free</p>
            </div>
        </div>

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="clouse-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
   
    <script src="scripts.js"></script>

    {% endblock %}