{% extends "layout.njk" %}

{% block content %}

<section class="product-single container">
<div class="gallery">
  <img src="http://placehold.it/500x500x?text=PRODUTO SEM FOTO"/>
</div>
<DIV class="info">
  <h1>Computador</h1>

  <div class="published">
    Publicado em 18/12 às 21h
  </div>

  <div class="description">
    asdaswdas dasdasdas saasdas
  </div>

  <div class="price-buy">
    <div class="price">
      R$ 99.00
    </div>
    <div class="buy">
    <button class="button" >Comprar</button>
    </div>
  </div>

</DIV>




</section>

{% endblock content %}